.DS_Store
.Rhistory
.Rproj.user/
.quarto/
_site/
.jekyll-cache/
.jekyll-metadata
.sass-cache/
vendor/
__pycache__/
.ipynb_checkpoints/
**/*.quarto_ipynb
website/_data/notebook_search.json
website/downloads/
